html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Geneva';
    font-size: 13px;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    padding-top: 7em;
    padding-bottom: 3px;
}

body[type=console] {
    font-family: 'Monaco';
    font-size: 11px;
}

hr#mark {
    clear: both;
    margin: 0;
    border-color: #aaa;
    border-style: dashed;
    border-width: 0;
    border-top-width: 1px;
}

.url { word-break: break-all; }
.address { text-decoration: none; word-break: break-all; }
.highlight { color: inherit; font-weight: normal; }
.line {
    margin: 0;
    padding: 0;
    padding-right: 3px;
    clear: both;
}
.line[highlight=true] {
    background-color: #fcc;
}
.line[highlight=true] .time {
    color: #ebb;
}
.line[highlight=true] .time:hover {
    color: #000;
}

.time {
    float: right;
    color: #eee;
}
.time:hover {
    color: #000;
}
.place { color: #aaa; }

.sender[type=myself] {
    color: #aaa;
    background-color: #eee;
}
.sender[type=normal] { color: #aaa; }
.sender[type=normal][colornumber='0'] { color: #aaa; }
.sender[type=normal][colornumber='1'] { color: #aaa; }
.sender[type=normal][colornumber='2'] { color: #aaa; }
.sender[type=normal][colornumber='3'] { color: #aaa; }
.sender[type=normal][colornumber='4'] { color: #aaa; }
.sender[type=normal][colornumber='5'] { color: #aaa; }
.sender[type=normal][colornumber='6'] { color: #aaa; }
.sender[type=normal][colornumber='7'] { color: #aaa; }
.sender[type=normal][colornumber='8'] { color: #aaa; }
.sender[type=normal][colornumber='9'] { color: #aaa; }
.sender[type=normal][colornumber='10'] { color: #aaa; }
.sender[type=normal][colornumber='11'] { color: #aaa; }
.sender[type=normal][colornumber='12'] { color: #aaa; }
.sender[type=normal][colornumber='13'] { color: #aaa; }
.sender[type=normal][colornumber='14'] { color: #aaa; }
.sender[type=normal][colornumber='15'] {} /* DecafBland only specified 15 colors */

body.normal .sender, body.normal .place {
    display: block;
    width: 16ex;
    float: left;
    text-align: right;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.line[type=privmsg] .sender:before {
    /* content: "-"; */
    white-space: nowrap;
}

.line[type=privmsg] .sender:after {
    /* content: ">"; */
    white-space: nowrap;
}

.line[type=mode] {font-size: 10px; padding-left: 5ex;}
.line[type=reply] {font-size: 10px; padding-left: 5ex;}
.line[type=system] {font-size: 10px; padding-left: 5ex;}

.line[type=notice] .sender:before {
    content: "*";
    white-space: nowrap;
}

.line[type=notice] .sender:after {
    content: "*";
    white-space: nowrap;
}

.line[type=action] .sender:before {
    content: "\BB";
    margin-right: 0.5ex;
    margin-left: 1ex;
}

body.console .sender {
    margin-right: 1ex;
}

body.normal .message {
    display: block;
    text-align: left;
    margin: 0;
    margin-left: 16ex;
    margin-right: 5ex;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    -khtml-line-break: after-white-space;
    -khtml-nbsp-mode: space;
}

body.normal .event .message:before {
    color: #a0a;
    margin-left: -2ex;
    margin-right: 1ex;
    content: "\00BB";
    white-space: nowrap;
}
body.normal .event .message {
    color: #800;
    padding-bottom: 0;
    word-wrap: break-word;
    -khtml-line-break: after-white-space;
    -khtml-nbsp-mode: space;
}

body.normal .event .message[type=reply] {
      color: #081;
}

#thetopic {
    font-size: 13px;
    position: fixed;
    margin: 0;
    padding: 5px;
    top: 0px;
    left: 0px;
    right: -0px;
    background-color: #eee;
    color: #aaa;
    border-color: #aaa;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}
