body {
	margin: 0px 0px 35px 0px;
}
.timestamp {
	display: block;
	background-color: light grey;
}
.timestamp {
	color: #999;
}
.event {
    display: none;
}
.envelope.highlight {
	background: #fbb;
}
hr {
    margin: 0;
    padding: 0;
    border: 1px solid #f90;
}
